# ============================================
#   MEMOS — Environment Variables
# ============================================

# Porta su cui esporre Memos (default: 5230)
MEMOS_PORT=5230

# Path locale per i dati persistenti di Memos
# Esempio: /home/tuousername/.memos
MEMOS_DATA=/home/YOUR_USERNAME/.memos

# Timezone del server
TZ=[Zona/Città]
